
* {
  margin: 0;
  padding: 0;
}

body {
  background: #DBBD8C;
}
.App-yellow {
  background: #DBBD8C;
}
.App-darkgrey {
  background: #8E8E8E;
}
.App-lightgrey {
  background: #E3E3E3;
}
.App-pink {
  background: #E0C5C5;
}

.bg-primary {
  background: #DBBD8C;
}

h1, h2, h3, h4, h5, p, a {
  color: #707070;
  font-weight: 600;
}
a {
  text-decoration: none;
}

.body-container {
  /* transform: translateY(-200px);  */
  z-index: 1;
}

.loading-container {
  background: #DBBD8C;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation-name: flip;
  animation-duration: 3s;
}
@keyframes flip {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: #E0C5C5;
  }
  25% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    background: #E0C5C5;
  }
  26% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    background: #E3E3E3;
  }
  50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: #E3E3E3;
  }
  75% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
    background: #E3E3E3;
  }
  76% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background: #DBBD8C;
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%);
    background: #DBBD8C;
  }
}


/* Navbar Styling */
ul {
  list-style: none;
}
.nav-bar {
  padding-right: 2rem;
}
.nav-item {
  height: 1.3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item h3 {
  margin-right: 15px;
  font-size: 2rem;
  text-shadow: 0 1px 2px #70707062;
}

.active {
  width: .3rem;
  height: 1.6rem;
  background: #707070;
  border: 1px solid #707070;
}

.inactive {
  width: .3rem;
  height: 1.6rem;
  /* background: #707070; */
  border: 1px solid #707070;
}


/* Home Section Styling */
.home-container {
  width: 100vw;
  height: 100vh;
  /* background: #DBBD8C; */
  display: flex;
  flex-direction: column;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}
.header-container {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 15%;
}
/* .header-container h1 {
  font-size: 4rem;
} */
.header-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.logo {
  /* filter: invert(27%) sepia(4%) saturate(0%) hue-rotate(202deg) brightness(98%) contrast(90%); */
  filter: invert(47%) sepia(0%) saturate(26%) hue-rotate(229deg) brightness(90%) contrast(96%) drop-shadow(0 1px 1px #707070);
}
.logo:hover {
  cursor: pointer;
  filter: invert(70%) sepia(0%) saturate(977%) hue-rotate(138deg) brightness(91%) contrast(75%) drop-shadow(0 1px 1px #9A9A9A);
}

.card {
  width: 50%;
  height: 50%;
  position: absolute;
  box-shadow: 0 2px 6px #707070;
}

.card-bottom {
  background: #8E8E8E;
  transform: translate(100px, -150px);
}

.card-middle {
  background: #E3E3E3;
  transform: translate(50px, -100px);
}

.card-top {
  background: #E0C5C5;
  transform: translate(0, -50px);
}


/* About Section Styling */
.aboutme-container {
  width: 100%;
  display: flex;
}

.about-card {
  width: 50rem;
  /* height: 20rem; */
  background: #E3E3E3;
  box-shadow: 0 2px 6px #707070;
}
.skills-list {
  margin-bottom: 8rem;
}
.skills-list img {
  margin-left: 1.5rem;
}
.skill-text {
}
.skill-text:hover {
  opacity: 0.5;
  /* transform: translateY(5px); */
}

/* #E3E3E3 */

/* Projects Section Styling */
.projects-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10rem;
}
.project-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.project-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
}
.project-info {
  width: 65vw;
  height: 35vh;
  border: 7px solid #707070;
  display: flex;
  justify-content: space-between;
  /* box-shadow: 0 3px 6px #707070; */
}
.project-info p {
  font-size: 1.3rem;
  margin-top: 1rem;
}
.project-info h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 1rem;
}



/* Designs/Arts Section Styling */
.arts-container {
  margin-bottom: 10rem;
}
.arts-display {
  border: 7px solid #707070;
}
.about-card h4 {
  font-size: 1.2rem;
  font-weight: bold;
}
#artsPage {
  margin-top: 0.2rem;
  cursor: pointer;
}
#artsPage:hover {
  background: #707070;
}

.art-container {
  height: 25%;
  overflow-y: scroll;
}

/* Hover Animations */
/* Wobble Top */
@-webkit-keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-top {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.hvr-wobble-top:hover, .hvr-wobble-top:focus, .hvr-wobble-top:active {
  -webkit-animation-name: hvr-wobble-top;
  animation-name: hvr-wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Wobble Bottom */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
