@import url("./styles/home.css");
@import url("./styles/projects.css");
@import url("./styles/animations.css");

:root {
    --primary-color: #C76161;
    --primary-color-light: #ECD7CF;
    --primary-text: #383838;
}

h1, h2, h3, p, a {
    color: #383838;
}

p {
    font-size: 18px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

/* Reusable styles */
.ml-1 {
    margin-left: 10px;
}
.mr-1 {
    margin-right: 10px;
}
.mt-1 {
    margin-top: 10px;
}
.mb-1 {
    margin-bottom: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.mr-2 {
    margin-right: 20px;
}
.mt-2 {
    margin-top: 20px;
}
.mb-2 {
    margin-bottom: 20px;
}



